h1 {   
    font-family: Verdana, Geneva, sans-serif;
    font-size: 40px;
    letter-spacing: -1px;
    word-spacing: 1px;
    color: white;
    font-weight: 700;
    text-decoration: none;
    font-style: bold;
    font-variant: normal;
}

h2 {   
    font-family: Verdana, Geneva, sans-serif;
    font-size: 40px;
    letter-spacing: -1px;
    word-spacing: 1px;
    color: white;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
}

h3 {
    color: hotpink;
}

div {
    text-align: center;
    border: 1px transparent;
}

body {
    background-color: #050505;
}

.startButton {
	box-shadow:inset 0px 1px 0px 0px #cf866c;
	background-color:#a80000;
	border-radius:3px;
	border:1px solid #740000;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
    font-size: 30px; 
    line-height: 20px;     
    padding: 10px; 
    padding-right: 10vw;
    padding-left: 10vw;
    border-radius: 15px; 
    font-family: Verdana, Geneva, sans-serif; 
    font-weight: 700; text-decoration: none; 
    font-style: normal; font-variant: normal; 
    text-transform: uppercase; 
	text-shadow:0px 1px 0px #7e0000;
}
.startButton:hover {
	background-color:#750000;
}
.startButton:active {
	position:relative;
	top:1px;
}
